{% extends "layout/layout.html.twig" %}

{% block title %}Toutes les catégories de matériel
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	{{ parent() }}
{% endblock %}

{% block body %}
	<div style="container">

		<a href="{{ path('create-matos-categorie') }}" class="btn btn-success">
			<i class="fas fa-plus mr-4"></i>Créer une categorie de matériel</a>

		<table id="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Titre</th>
					<th>Image</th>
					
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for a in matosCategos %}
					<tr>
						<td>{{ a.id }}</td>
						<td>
							<a href="{{ path('update-matos-categorie', {'id': a.id}) }}" title="Modifier cet categorie">{{ a.name }}</a>
						</td>
						<td><img src="{{ asset('/assets/img/img_matos_catego/' ~ a.matosCategoImage) }}" style="width:50px;height:50px;"/></td>
						

						<td>
							<a href="{{ path( 'delete-matos-categorie', {'id': a.id} ) }}" title="Supprimer cet categorie" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ?')">
								<i class="fas fa-trash"></i>
							</a>
							<a href="{{ path('update-matos-categorie', {'id': a.id}) }}" title="Modifier cet categorie" class="btn btn-primary">
								<i class="fas fa-edit"></i>
							</a>
							<a href="{{ path('matos-categorie', {'id': a.id}) }}" title="Voir cet categorie" class="btn btn-info" target="_blank">
								<i class="fas fa-eye"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>Il n'y a aucun categorie à afficher.</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('create-matos-categorie') }}" class="btn btn-success">
			<i class="fas fa-plus mr-4"></i>Créer une catégorie de matériel</a>

	</div>
{% endblock %}


{% block js %}
	{{ parent() }}
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#table').DataTable();
});
	</script>
{% endblock %}
