{% extends "layout/layout.html.twig" %}

{% block title %}Toutes nos entreprises partenaires
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	{{ parent() }}
{% endblock %}

{% block body %}
	<div style="container">

		<a href="{{ path('create-entreprise') }}" class="btn btn-success">
			<i class="fas fa-plus mr-4"></i>Créer une entreprise</a>

		<table id="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>name entreprise</th>
					<th>lien entreprise</th>					
					<th>logo</th>
				</tr>
			</thead>
			<tbody>
				{% for a in entreprises %}
					<tr>
						<td>{{ a.id }}</td>
						<td>
							<a href="{{ path('modifier-entreprise', {'id': a.id}) }}" title="Modifier cette entreprise">{{ a.nameEntreprise }}</a>
						</td>
						<td><img src="{{ asset('/assets/img/logo_entreprise/' ~ a.logo) }}" style="width:50px;height:50px;"/></td>
						<td>{{a.lienEntreprise}}</td>

						<td>
							<a href="{{ path( 'supprimer-entreprise', {'id': a.id} ) }}" title="Supprimer cette entreprise" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ?')">
								<i class="fas fa-trash"></i>
							</a>
							<a href="{{ path('modifier-entreprise', {'id': a.id}) }}" title="Modifier cette entreprise" class="btn btn-primary">
								<i class="fas fa-edit"></i>
							</a>
							<a href="{{ path('entreprise', {'id': a.id}) }}" title="Voir cette entreprise" class="btn btn-info" target="_blank">
								<i class="fas fa-eye"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>Il n'y a aucun entreprise à afficher.</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('create-entreprise') }}" class="btn btn-success">
			<i class="fas fa-plus mr-4"></i>Créer une entreprise</a>

	</div>
{% endblock %}


{% block js %}
	{{ parent() }}
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#table').DataTable();
});
	</script>
{% endblock %}
