{% extends "layout/layout.html.twig" %}

{% block title %}Votre agence de communication audiovisuelle.
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{asset('styles/css/home.css')}}">
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<main id="home">
		<section class="home-title">
			<h1>Weplus Communiquer en vidéo</h1>
			<p>Communiquer par des vidéos est le meilleur moyen pour toucher rapidement une nouvelle clientèle. Nous vous proposons toute une gamme de service adapté de la consrtuction d'un site vitrine, à l'animation de réseaux sociaux.</p>
		</section>

		<section class="home-body d-flex justify-content-around flex-wrap">
			{% for categorie in categories %}

				<a class="home-link" id="number{{ loop.index }}" href="{{ path('services', {'id': categorie.id}) }}">
					<div class="home-card-img">
						<img src="{{asset('assets/img/img_catego/' ~ categorie.ImageCatego)}}" alt="{{categorie.ImageCategoAlt}}">
						<div class="home-card" >
							<div class="home-card-body">
								<h2 class="home-card-title">{{categorie.title}}</h2>
								<p class="home-card-text">{{categorie.subtitle}}</p>
								<p class="home-card-text">
									<small class="home-card-link"></small>
								</p>
							</div>
						</div>
					</div>

				</a>

			{% endfor %}
		</section>
	</main>


{% endblock %}
