<html>
	<body>
		<header>
			<div id="Weplus">
				<img src="{{asset('assets/img/logo_weplus.png')}}">
				<p>31 boulevard Preuilly 37000 - TOURS</p>
				<p>Siret : 84114424900023</p>
				<h3>Weplus</h3>
				<p>tél. : 09 75 50 52 35 </br>
				Email : contact@weplus.fr </br>
				Site web : http://www.weplus.fr
				</p>
			</div>
			<div id="client">
				<h3>{{nom}} {{prenom}}</h3>
				<p>{{adresse}}</p>
			</div>
			<div id="devis">
			<h1>Devis</h1>
			<p>Date : {{date}}</p>
			<p>Devis valable jusqu'au {{date +7}}</p>
			</div>
		</header>

		<main>
			<h2>Location de matériel audiovisuel pour {{(date de fin - date de début)/60/60/24}}</h2>
			<table id="matos-louer">
				<thead>
					<tr>
						<th>Libellé</th>
						<th>Qte</th>
						<th>Unité</th>
						<th>PU HT</th>
						<th>Montant HT</th>
						<th>TVA</th>
					</tr>
				</thead>
				<tbody>
					{% for a in panier %}
					<tr>
						<td>{{a.nameMatos}}</td>
						<td>{{a.quantite}}</td>
						<td></td>
						<td>{{a.prixHt}}</td>
						<td>{{(a.prixHT)*(a.quantite)}}</td>
						<td>O,OO%</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<section id="tva">
				<div id="details">
					<h2>Détail de la TVA</h2>
					<table>
						<thead>
							<tr>
								<th>Code</th>
								<th>Base HT</th>
								<th>Taux</th>
								<th>Montant</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="totaux">
					<table>
						<tr>
							<td>Total HT</td>
							<td>{{panier.total}}</td>
						</tr>
						<tr>
							<td>TVA</td>
							<td>{{tva}}</td>
						</tr>
						<tr>
							<td>Total TTC</td>
							<td>{{(panier.total)+((panier.total)*(tva))}}</td>
						</tr>
					</table>
				</div>
			</section>
			<section id="reglement">
				<table>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</table>
			</section>
			<section id="bon">
				<div>
					<h2>Bon pour accord</h2>
					<p>Date et signature</p>
				</div>
			</section>
			<section id="coordonnee">
				<h2>Coordonnées bancaires</h2>
				<table>
					<tr>
						<td>Nom</td>
						<td>Crédit Coopératif</td>
					</tr>
					<tr>
						<td>IBAN</td>
						<td>FR76 4255 9100 0008 0230 3479 585</td>
					</tr>
					<tr>
						<td>BIC</td>
						<td>CCOPFRPPXXX</td>
					</tr>
				</table>
				
			</section>
		</main>
		<footer>
			<p>SCOP SARL WEPLUS - 31 BOULEVARD PREUILLY 37000 TOURS - Code NAF (APE) 7021Z - N° RCS 841144249 - Tours - SCOP au capital variable de 36050 € - Siret: 84114424900023</p>
		</footer>
	</body>
</html></body></html>
