<html>
{% apply inline_css(source('@styles/email.css')) %}
{% set logo = email.image('@img/logo_weplus.png') %}
	<body>
		<header>
			<div id="Weplus">
				<img id="logo" src="{{ logo }}">
				<p>31 boulevard Preuilly 37000 - TOURS</p>
				<p>Siret : 84114424900023</p>
				<h3>Weplus</h3>
				<p>tél. : 09 75 50 52 35 </br>
				Email : contact@weplus.fr </br>
				Site web : http://www.weplus.fr
				</p>
			</div>
			<div id="client">
				<h3>{{data.nom}}</h3>
				<p>{{data.email}}</p>
			</div>
			<div id="devis">
			<h1>Devis</h1>
			<p>Date : {{date()|date('d/m/y')}}</p>
			<p>Devis valable jusqu'au </p>
			</div>
		</header>

		<main>
			<h3>Location de matériel audiovisuel du {{data.start|date('d/m/y')}} au {{data.end|date('d/m/y')}}</h3>
			<table id="matos-louer">
				<thead>
					<tr>
						<th>Libellé</th>
						<th>caution</th>
						<th>Unité</th>
						<th>PU HT</th>
						<th>Montant HT</th>
						<th>TVA</th>
					</tr>
				</thead>
				<tbody>
					{% for element in dataPanier %}
					<tr>
						<td>{{ element.matos.nameMatos}}</td>
						<td>{{element.matos.caution}}</td>
						<td>
						{% for a in element.accessoires %}
							{{a.nameMatos}}
						{% endfor %}
						</td>
						<td>{{element.matos.prixht}} €</td>
						<td>{{(element.matos.prixHT)}}</td>
						<td>2O,OO%</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<section id="tva">
				<div id="details">
					<h2>Détail de la TVA</h2>
					<table>
						<thead>
							<tr>
								<th>Code</th>
								<th>Base HT</th>
								<th>Taux</th>
								<th>Montant</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="totaux">
					<table>
						<tr>
							<td>Total HT</td>
							<td>{{total}}</td>
						</tr>
						<tr>
							<td>TVA</td>
							<td>20%</td>
						</tr>
						<tr>
							<td>Total TTC</td>
							<td>{{total * 1.2}}</td>
						</tr>
					</table>
				</div>
			</section>
			<section id="reglement">
				<table>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</table>
			</section>
			<section id="bon">
				<div>
					<h2>Bon pour accord</h2>
					<p>Date et signature</p>
				</div>
				<h3>Message du client</h3>
				<p>{{data.message|nl2br}}</p>
			</section>
			<section id="coordonnee">
				<h2>Coordonnées bancaires</h2>
				<table>
					<tr>
						<td>Nom</td>
						<td>Crédit Coopératif</td>
					</tr>
					<tr>
						<td>IBAN</td>
						<td>FR76 4255 9100 0008 0230 3479 585</td>
					</tr>
					<tr>
						<td>BIC</td>
						<td>CCOPFRPPXXX</td>
					</tr>
				</table>				
			</section>

		</main>
		<footer>
			<p>SCOP SARL WEPLUS - 31 BOULEVARD PREUILLY 37000 TOURS - Code NAF (APE) 7021Z - N° RCS 841144249 - Tours - SCOP au capital variable de 36050 € - Siret: 84114424900023</p>
		</footer>
	</body>
	{% endapply %}
</html>
