{% extends "layout/layout.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<main>
		<section>
			<h1>Weplus Communiquer en vidéo</h1>
			<p>Communiquer par des vidéos est le meilleur moyen pour toucher rapidement une nouvelle clientèle. Nous vous proposons toute une gamme de service adapté de la consrtuction d'un site vitrine, à l'animation de réseaux sociaux.</p>
		</section>

		<section class="container">
			<div class="card mb-3">
				<img class="card-img-top" src="{{asset('assets/img/img_matos/' ~ mato.matosImage)}}" alt="{{mato.MatosImageAlt}}">
				<div class="card-body">
					<h2 class="card-title">{{mato.nameMatos}}</h2>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text">
						<small class="text-muted">
							<a href="{{ path('matos', {'id': mato.id}) }}">{{mato.nameMatos}}</a>
						</small>
						<button>
							<a href="{{path("panier-ajout", {id: mato.id})}}">Ajouter au panier</a>
						</button>
					</p>
				</div>
				<div class="container">
				<form action="{{path("panier-ajout")}}" method="post">					
						{% for a in accessoires %}
						
							<input name="accessoires" class="btn btn-success" type="checkbox" value="{{a.id}}">
							<h3>{{a.nameMatos}}</h3>
							<img class="card-img" style="width:auto; height:150px;" src="{{asset('assets/img/img_matos/' ~ a.matosImage)}}" alt="{{mato.MatosImageAlt}}">
										
						{% endfor %}						
						<input name="matoId" type="hidden" value="{{mato.id}}">
						<input type="submit" value="Ajouter au panier">
				</form>
					
				</div>
			</div>
		</section>

	</main>

{% endblock %}
