{% extends "layout/layout.html.twig" %}

{% block title %}{{mato.nameMatos}}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('styles/css/matos.css')}}">
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<main>
		<section>
			<h1>Weplus Communiquer en vidéo</h1>
			<p>Communiquer par des vidéos est le meilleur moyen pour toucher rapidement une nouvelle clientèle. Nous vous proposons toute une gamme de service adapté de la consrtuction d'un site vitrine, à l'animation de réseaux sociaux.</p>
		</section>

		<section class="container">
			<div class="matos-card mb-3">
				<img class="matos-card-img" src="{{asset('assets/img/img_matos/' ~ mato.matosImage)}}" alt="{{mato.MatosImageAlt}}">
				<div class="matos-card-body">
					<h2 class="matos-card-title">{{mato.nameMatos}}</h2>
					<p class="matos-card-text">{{mato.detail}}</p>
					
					<div class="matos-card-text">
						<small class="text-muted">
							<a href="{{ path('matos', {'id': mato.id}) }}">{{mato.nameMatos}}</a>
							
						</small>
						<p>{{mato.prixht * 1.20}} € TTC</p>
					</div>
				</div>
				<div class="matos-accessoires">
					<form action="{{path("panier-ajout")}}" method="post">
						{% for a in accessoires %}
							<div class="accessoire-body">
								<input id="checkbox{{loop.index}}" name="accessoires[]" class="accessoire-input" type="checkbox" value="{{a.id}}">
								<label for="checkbox{{loop.index}}"><img class="accessoire-img"src="{{asset('assets/img/img_matos/' ~ a.matosImage)}}" alt="{{mato.MatosImageAlt}}">
								<h3>{{a.nameMatos}}</h3></label>
							</div>

						{% endfor %}
						<input name="matoId" type="hidden" value="{{mato.id}}">
						<input class="panier" type="submit" value="Ajouter au panier">
					</form>

				</div>
			</div>
		</section>

	</main>

{% endblock %}
