{% extends 'layout/layout.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
	<section class="bg-light p-3">
		<h1>Votre panier</h1>
	</section>

	<table class="table">
		<thead>
			<tr>
				<th>matos</th>
				<th>Prix</th>
				<th>Accessoires</th>
				<th>Quantité</th>
				<th>Total</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for element in dataPanier %}
				<tr>
					<td>{{ element.matos.nameMatos }}</td>
					<td class="text-end">{{ element.matos.prixht }}
						€</td>
					<td>
						{% for a in element.accessoires %}
							{{a.nameMatos}}
							à
							{{a.prixht}}
							€
						{% endfor %}
					</td>
					<td></td>
					<td class="text-end">{{ element.matos.prixht }}
						€</td>
					<td>
						<form action="{{path("panier-ajout")}}" method="post">
							
								<input name="matoId" type="hidden" value="{{element.matos.id}}">
								<div class="input-group">
								<button type="submit" class="btn btn-primary">
								<i class="bi bi-cart-plus "></i>
								</button>
								</div>
							
						</form>
						<a href="{{path("panier-delete", {id: loop.index0 })}}" class="btn btn-danger">
							<i class="bi bi-cart-x"></i>
						</a>
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="5" class="text-center">Votre panier est vide</td>
	</tr>
{% endfor %}</tbody><tfoot>
<tr>
	<td colspan="3">Total HT
	</td>
	<td class="text-end">{{ total }}
		€</td>
	<td>
		<a href="{{path("panier-delete-all")}}" class="btn btn-danger">
			<i class="bi bi-cart-x"></i>
		</a>
	</td>
</tr></tfoot></table><div class="container">{{ form(form, {'action': path('handlecontact')}) }}
</div>{% endblock %}
