{% extends 'layout/layout.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
	<main>
		<section class="bg-light p-3">
			<h1>Votre panier</h1>
		</section>

		<table class="table">
			<thead>
				<tr>
					<th>matos</th>
					<th>Prix /jour</th>
					<th>Accessoires</th>
					<th>Caution</th>
					<th>Total</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% if dataPanier %}
					{% for element in dataPanier %}
						<tr>
							<td>{{ element.matos.nameMatos }}</td>
							<td class="text-end">{{ element.matos.prixht }}
								€</td>
							<td>
								{% set  prixAcce = 0 %}
								{% for a in element.accessoires %}
									{{a.nameMatos}}
									à
									{{a.prixht}}
									€
								</br>
								{% set  prixAcce = prixAcce + a.prixht %}
								{% endfor %}
							</td>
							<td>{{element.matos.caution}}</td>
							<td class="text-end"><span class="totaux">{{ element.matos.prixht + prixAcce }}</span> €</td>
							<td>
								<form action="{{path("panier-ajout")}}" method="post">

									<input name="matoId" type="hidden" value="{{element.matos.id}}">
									<div class="input-group">
									<button type="submit" class="btn btn-primary">
									<i class="bi bi-cart-plus "></i>
									</button>
									</div>
								</form>
								<a href="{{path("panier-delete", {id: loop.index0 })}}" class="btn btn-danger">
								<i class="bi bi-cart-x"></i>
								</a>
							</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="5" class="text-center">Votre panier est vide</td>
			</tr>
		{% endif %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">Total HT</td>
			<td>{{totalCaution}}</td>
			<td class="text-end"><span class="totaux">{{ total }}</span>
				€</td>
			<td>
				<a href="{{path("panier-delete-all")}}" class="btn btn-danger">
					<i class="bi bi-cart-x"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td colspan="3">Total TTC</td>
			<td>{{totalCaution}}</td>
			<td class="text-end"><span class="totaux">{{ total * 1.20 }}</span>
				€</td>
			<td>
				<a href="{{path("panier-delete-all")}}" class="btn btn-danger">
					<i class="bi bi-cart-x"></i>
				</a>
			</td>
		</tr>
	</tfoot>
</table>
<div id="locaform" class="container">

	{{ form_start(form, {'action': path('handlecontact')}) }}
		{{ form_row(form.start) }}
		{{ form_row(form.hstart) }}
		{{ form_row(form.end) }}
		{{ form_row(form.hend) }}
		{{ form_row(form.email) }}
		{{ form_row(form.nom) }}

		{{ form_row(form.ville) }}

		{{ form_row(form.cp) }}

		{{ form_row(form.adresse) }}

		{{ form_row(form.submit) }}
				

	{{ form_end(form) }}

	</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
let inputStart = document.getElementById("contact_loc_start");

let inputEnd = document.getElementById("contact_loc_end");


var total = document.getElementsByClassName("totaux");

let dateDiffSouvenir = 1; 

function updateTotal() {
var startdate = new Date(inputStart.value);
var enddate = new Date(inputEnd.value);

console.log(startdate);
console.log(enddate);

datediff = (enddate - startdate) / (1000 * 60 * 60 * 24);

if (datediff >= 14){
	datediff = ((datediff-13) * 0.2) + 5;
}	else{
	switch (datediff) {
		case 0:
		datediff = 1;
		break;
		case 1:
		datediff = 1;
		break;
		case 2:
		datediff = 1.5;
		break;
		case 3:
		datediff = 2;
		break;
		case 4:
		datediff = 2.4;
		break;
		case 5:
		datediff = 2.7;
		break;
		case 6:
		datediff = 3;
		break;
		case 7:
		datediff = 3.3;
		break;
		case 8:
		datediff = 3.6;
		break;
		case 9:
		datediff = 3.9;
		break;
		case 10:
		datediff = 4.2;
		break;
		case 11:
		datediff = 4.5;
		break;
		case 12:
		datediff = 4.8;
		break;
		case 13:
		datediff = 5;
		break;
		default:
		datediff = datediff;
	}
}
	for (i = 0; i < total.length; i++) {
		
		newtotal = (total[i].textContent / dateDiffSouvenir) * datediff ;
		total[i].textContent = Math.round(newtotal);
		console.log(newtotal, '<= new total');
	}
dateDiffSouvenir = datediff;
return dateDiffSouvenir;
};

inputStart.addEventListener("change", updateTotal);

inputEnd.addEventListener("change", updateTotal);

</script>{% endblock %}
