{% extends "layout/layout.html.twig" %}

{% block title %}{{categorie.title}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<main>
		<section>
			<h1>{{categorie.title}}</h1>
			<p>{{categorie.description}}</p>
		</section>

		{% if categorie.id != 5 %}

			<section class="container">
				{% for service in services %}

					<div class="card mb-3">
						<img class="card-img-top" src="{{asset('assets/img/img_service/' ~ service.ImageService)}}" alt="Card image cap">
						<div class="card-body">
							<h2 class="card-title">{{service.name}}</h2>
							<p class="card-text">{{service.text}}</p>
							<p class="card-text">
								<small class="text-muted">Last updated 3 mins ago</small>
								{% if categorie.title == 'Formations' %}
									<a href="{{ path('download-file', {'id': service.id}) }}">download</a>
								{% endif %}
							</p>
						</div>
					</div>

				{% endfor %}
			</section>

		{% else %}

			<section class="container">

				{% for matosCatego in matosCategos %}
					{% if matosCatego.name != 'Accessoires'%}
						<div class="card mb-3">
							<img class="card-img-top" src="{{asset('assets/img/img_matos_catego/' ~ matosCatego.matosCategoImage)}}" alt="{{matosCatego.matosCategoImageAlt}}">
							<div class="card-body">
								<h2 class="card-title">{{matosCatego.name}}</h2>

								<p class="card-text">
									<small class="text-muted">
										<a href="{{ path('matos-categorie', {'id': matosCatego.id}) }}">{{matosCatego.name}}</a>
									</small>
								</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}

			</section>

		{% endif %}

		<section class="container">
		{{render(controller(
			'App\\Controller\\ContactController::contact'))
			}}
		</section>

	</main>

{% endblock %}
